<% js.forEach(function(src){ %>
<script src="<%=src %>"></script>
<% }) %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_ggeIaHotxgAOnE7jj692C6GmKElNFHA&v=3.exp"></script>
<script>
  function google_maps_5496904152035() {
    var latlng = new google.maps.LatLng(37.751305, -122.451258);
    var myOptions = {
      zoom: 12,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoomControl: true,
      mapTypeControl: false,
      streetViewControl: false,
      scrollwheel: false
    };
    var map = new google.maps.Map(document.getElementById(
      "google-map-area-5496904152035"), myOptions);
    var marker = new google.maps.Marker(
      {
        position: latlng,
        map: map
      });
  }

  jQuery(document).ready(function ($) {
    google_maps_5496904152035();
  });
</script>
<% if(state === 'home'){ %>
<script>
  var tpj = jQuery;
  var revapi2;
  tpj(document).ready(function () {
    if (tpj("#rev_slider_2_1").revolution == undefined) {
      revslider_showDoubleJqueryError("#rev_slider_2_1");
    } else {
      revapi2 = tpj("#rev_slider_2_1").show().revolution({
        sliderType: "carousel",
        sliderLayout: "fullwidth",
        dottedOverlay: "none",
        delay: 9000,
        navigation: {
          keyboardNavigation: "off",
          keyboard_direction: "horizontal",
          mouseScrollNavigation: "off",
          onHoverStop: "off",
          arrows: {
            style: "erinyen",
            enable: true,
            hide_onmobile: true,
            hide_under: 600,
            hide_onleave: true,
            hide_delay: 200,
            hide_delay_mobile: 1200,
            tmp: '<div class="tp-title-wrap"> 	<div class="tp-arr-imgholder"></div> <div class="tp-arr-img-over"></div>	<span class="tp-arr-titleholder">{{title}}</span> </div>',
            left: {
              h_align: "left",
              v_align: "center",
              h_offset: 30,
              v_offset: 0
            },
            right: {
              h_align: "right",
              v_align: "center",
              h_offset: 30,
              v_offset: 0
            }
          }
        },
        carousel: {
          horizontal_align: "center",
          vertical_align: "center",
          fadeout: "off",
          maxVisibleItems: 3,
          infinity: "on",
          space: 0,
          stretch: "on"
        },
        viewPort: {
          enable: true,
          outof: "pause",
          visible_area: "80%"
        },
        responsiveLevels: [1840, 1240, 1024, 778, 480],
        gridwidth: [1840, 1240, 1024, 778, 480],
        gridheight: [800, 600, 600, 500, 400],
        lazyType: "none",
        parallax: {
          type: "mouse",
          origo: "slidercenter",
          speed: 2000,
          levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
        },
        shadow: 0,
        spinner: "off",
        stopLoop: "off",
        stopAfterLoops: -1,
        stopAtSlide: -1,
        shuffle: "off",
        autoHeight: "off",
        hideThumbsOnMobile: "on",
        hideSliderAtLimit: 0,
        hideCaptionAtLimit: 0,
        hideAllCaptionAtLilmit: 0,
        debugMode: false,
        fallbacks: {
          simplifyAll: "off",
          nextSlideOnWindowFocus: "off",
          disableFocusListener: false,
        }
      });
    }
  }); /*ready*/
</script>
<% } %>
<script>
  jQuery(window).load(function () {
    var retina = window.devicePixelRatio > 1 ? true : false;
    if (retina) {
      var retinaEl = jQuery("#logo img");
      var retinaLogoW = retinaEl.width();
      var retinaLogoH = retinaEl.height();
      retinaEl.attr("src", "<%= common.assets %>/kearney-plumbing-logo.jpg").width(retinaLogoW).height(retinaLogoH)
    }
  });
</script>
<% if(state === 'contact'){ %>
<script>
  function google_maps_54a672a1c80e7() {
    var latlng = new google.maps.LatLng(37.7513038, -122.4510947);
    var myOptions = {
      zoom: 13,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      zoomControl: true,
      mapTypeControl: false,
      streetViewControl: false,
      scrollwheel: false
    };
    var map = new google.maps.Map(document.getElementById("google-map-area-54a672a1c80e7"), myOptions);
    var marker = new google.maps.Marker({
      position: latlng,
      map: map
    });
  }

  jQuery(document).ready(function ($) {
    google_maps_54a672a1c80e7();
  });
</script>
<% } %>