<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, viewport-fit=cover">

<title>Kearney Plumbing</title>

<meta name="author" content="Shane Barry">
<meta name="description" content="Welcome to Kearney Plumbing">
<meta name="keywords" content="Construction,Commercial,Residential,Labor,Tools,Projects">

<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>

<link rel='stylesheet' href='css/global.css'>
<link rel='stylesheet' href='css/structure.css'>
<link rel='stylesheet' id='style-static' href='css/be_style.css'>
<link rel='stylesheet' href='css/custom.css'>
