<!--
<div class="clearfix">
  <div class="footer_action">
    <div class="container">
      <div class="column one column_column">
        <span class="flv_color_white">
          <span class="flv_font_24"><strong>Want to talk about your next project?</strong>&nbsp;&nbsp;
          </span>
        <a class="button button_large button_js footer-action-button" href="/contact">
            <span class="button_label">CONTACT US</span>
          </a>
      </div>
    </div>
  </div>
</div>
-->

<div class="call_to_action">
  <div class="call_to_action_wrapper">
    <div class="call_left">
      <h3>Click to play</h3>
    </div>
    <div class="call_center">
      <a href="https://www.youtube.com/watch?v=liqoMjRT81A" class="" rel="prettyphoto"><span class="icon_wrapper"><i class="icon-play"></i></span></a>
    </div>
    <div class="call_right">
      <div class="desc">
        You can setup any youtube or vimeo videos to play. Instead of videos you can also open other things like images or other links. Open videos or images inside popup window or regular.
      </div>
    </div>
  </div>
</div>
