<div class="column one column_fancy_heading">
    <div class="fancy_heading fancy_heading_icon container">
        <span class="icon_top margin-top-30"><i class="icon-users"></i></span>
        <h2 class="title">
            <%= body.section_history.title %>
        </h2>
        <div class="inside margin-top-10">
            <span class="big"><%= body.section_history.description %></span>
        </div>
    </div>
</div>
