<div class="section full-width flv_sections_16">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- One full width row-->
            <div class="column one column_map">

                <!-- Google map area -->
                <div class="google-map-wrapper">
                    <div class="google-map-contact-wrapper">
                        <div class="get_in_touch bg-blue">
                            <h3>Our office</h3>
                            <div class="get_in_touch_wrapper">
                                <ul>
                                    <li class="address">
                                        <span class="icon"><i class="icon-location"></i></span>
                                        <div class="address_wrapper">
                                            <p>
                                                Kearney Plumbing Inc.
                                                <br> <%= common.address.street %>
                                                <br> <%= common.address.city %>, <%= common.address.state %>, <%= common.address.zip %>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="google-map flv_style_9" id="google-map-area-54a672a1c80e7">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>