<div class="section section-filters">
    <div class="section_wrapper clearfix">
        <!--  Filter Area -->
        <div id="Filters" class="column one isotope-filters">
            <ul class="filters_buttons">
                <li class="label">
                    Filter by
                </li>
                <li class="categories">
                    <a class="open" href="#"><i class="icon-docs"></i>Project type<i class="icon-down-dir"></i></a>
                </li>
                <li class="reset">
                    <a class="close" data-rel="*" href=""><i class="icon-cancel"></i> Show all</a>
                </li>
            </ul>
            <div class="filters_wrapper">
                <ul class="categories">
                    <li>
                        <a data-rel=".project-commercial" href="#">Commercial</a>
                    </li>
                    <li>
                        <a data-rel=".project-residential" href="#">Residential</a>
                    </li>
                    <li>
                        <a data-rel=".project-radiant-heat" href="#">Radiant Heat</a>
                    </li>
                    <li class="close">
                        <a href="#"><i class="icon-cancel"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
