<div class="section center flv_sections_22">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- One full width row-->
            <div class="column one column_column">
                <div class="column_attr ">
                    <a class="button button_left button_js" href="/contact"><span class="button_icon"><i class="icon-clipboard"></i></span><span
                            class="button_label">Get a free estimate</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section full-width flv_sections_16">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <!-- One full width row-->
            <div class="column one column_fancy_divider">
                <div class="fancy-divider">
                    <svg preserveAspectRatio="none" viewBox="0 0 100 100" height="100" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        class="flv_style_44">
                        <path d="M0 0 L50 100 L100 0 Z" class="flv_style_45">
                    </svg>
                </div>
            </div>
            <!-- Page devider -->
            <!-- One full width row-->
            <div class="column one column_divider">
                <hr class="no_line flv_style_21" />
            </div>
        </div>
    </div>
</div>