<div class="call-to-action">
    <div class="container">
        <div class="column one column_column center-text">
            <span class="call-to-action-text">
                <strong>Need plumbing services for your project?</strong>&nbsp;&nbsp;
            </span>
            <a class="button button_theme button_large button_js cta-button" href="/projects">
                <span class="button_label"><strong>SEE OUR WORK</strong></span>
            </a>
        </div>
    </div>
</div>