<!DOCTYPE html>
<!-- HTML5 -->

<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="color-blue layout-full-width header-classic subheader-transparent sticky-header sticky-white subheader-title-left services-page">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <% include ../partials/header/header %>
                <% include ../partials/header/sub-header %>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <% include ../components/services/section-services %>
                            <% include ../components/services/section-services-list-top %>
                                <% include ../components/services/section-services-cta %>
                                    <% include ../components/services/section-services-list-bottom %>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer %>
    </div>

    <% include ../partials/foot %>
</body>

</html>
