<div class="section flv_sections_11">
    <div class="section_wrapper clearfix">
        <div class="items_group clearfix">
            <div class="column one column_fancy_heading">
                <div class="fancy_heading fancy_heading_icon container">
                    <span class="icon_top margin-top-30"><i class="icon-tools"></i></span>
                    <h2 class="title">
                        <%= body.section_services.title %>
                    </h2>
                    <div class="inside margin-top-10">
                        <span class="big"><%= body.section_services.description %></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
