<div class="section highlight-left dark flv_sections_12">
  <div class="section_wrapper clearfix">
    <div class="items_group clearfix">
      <div class="column one-second column_column">
        <div class="column_attr ">
          <div class="flv_style_1">
            <h2>Plumbing services</h2>
            <p>
              <span class="big">Feel free to contact us at anytime to learn more about the services that we offer.</span>
            </p>
            <a class="button button_left button_js" href="/contact"><span class="button_icon"><i class="icon-link"></i></span><span class="button_label">Contact us</span></a>
          </div>
        </div>
      </div>
      <div class="column one-second column_image">
        <div class="image_frame no_link scale-with-grid no_border alignleft">
          <div class="image_wrapper"><img class="scale-with-grid" src="<%= assets %>/services/services.jpg" alt="Services img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
