<section class="example">
  <article class="content">
    <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic-carousel2"
      style="margin:0px auto;background-color:#fff;padding:0px;margin-top:0px;margin-bottom:0px;">
      <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
      <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
        <ul>
          <!-- SLIDE -->
          <li data-index="rs-5" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut"
            data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade"
            data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Air to Water Heat Pump"
            data-description="">
            <!-- MAIN IMAGE -->
            <img src="<%= assets %>/home-slider-air-to-heat.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                                                                                                        data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina />
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-9" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']"
              data-width="500" data-height="140" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;"
              data-mask_out="x:inherit;y:inherit;" data-start="1000" data-responsive_offset="on" style="z-index: 5;background-color:rgba(0, 0, 0, 0.75);border-color:rgba(0, 0, 0, 0.50);">
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-1" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
              data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none"
              data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;"
              data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none"
              data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
              AIR TO WATER
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-4" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']"
              data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none"
              data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;">
              KEARNEY PLUMBING
            </div>
          </li>
          <!-- SLIDE -->
          <li data-index="rs-6" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut"
            data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade"
            data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Residential"
            data-description="">
            <!-- MAIN IMAGE -->
            <img src="<%= assets %>/home-slider-residential.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
              data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-9" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']"
              data-width="500" data-height="140" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;"
              data-mask_out="x:inherit;y:inherit;" data-start="1000" data-responsive_offset="on" style="z-index: 5;background-color:rgba(0, 0, 0, 0.75);border-color:rgba(0, 0, 0, 0.50);">
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-1" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
              data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none"
              data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;"
              data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none"
              data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
              RESIDENTIAL
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-4" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']"
              data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none"
              data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;">
              KEARNEY PLUMBING
            </div>
          </li>
          <!-- SLIDE -->
          <li data-index="rs-7" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-easein="Power3.easeInOut"
            data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0" data-saveperformance="off"
            data-title="Commercial" data-description="">
            <!-- MAIN IMAGE -->
            <img src="<%= assets %>/home-slider-commercial.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
              data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-9" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']"
              data-width="500" data-height="140" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;"
              data-mask_out="x:inherit;y:inherit;" data-start="1000" data-responsive_offset="on" style="z-index: 5;background-color:rgba(0, 0, 0, 0.75);border-color:rgba(0, 0, 0, 0.50);">
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-1" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
              data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none"
              data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;"
              data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none"
              data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
              COMMERCIAL
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-4" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']"
              data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none"
              data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;">
              KEARNEY PLUMBING
            </div>
          </li>
          <!-- SLIDE -->
          <li data-index="rs-8" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut"
            data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-saveperformance="off"
            data-title="Radiant Heat" data-description="">
            <!-- MAIN IMAGE -->
            <img src="<%= assets %>/home-slider-radiant-heat.jpg" alt="" data-bgposition="center center" data-kenburns="on"
              data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
              data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10"
              class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->

            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-9" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']"
              data-width="500" data-height="140" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;"
              data-mask_out="x:inherit;y:inherit;" data-start="1000" data-responsive_offset="on" style="z-index: 5;background-color:rgba(0, 0, 0, 0.75);border-color:rgba(0, 0, 0, 0.50);">
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-1" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
              data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none"
              data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;"
              data-mask_out="x:inherit;y:inherit;" data-start="1000" data-splitin="none" data-splitout="none"
              data-responsive_offset="on" style="z-index: 6; white-space: nowrap;">
              RADIANT HEAT
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-0" id="slide-8-layer-4" data-x="['center','center','center','center']"
              data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']"
              data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none"
              data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap;">
              KEARNEY PLUMBING
            </div>
          </li>
        </ul>
        <div class="tp-static-layers"></div>
        <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
      </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
  </article>
</section>
