<div id="Subheader">
    <div class="container">
        <div class="column one">
            <h1 class="title">
                <%= subheader.title %>
            </h1>
            <ul class="breadcrumbs">
                <% subheader.menu.forEach(function (item) { %>
                    <li>
                        <% if (item.url !== null) { %>
                            <a href="<%=item.url%>">
                                <%=item.name%>
                            </a>
                            <span><i class="icon-right-open"></i></span>
                            <% } else { %>
                                <%= item.name %>
                                    <% } %>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </div>
</div>
