<% project.imgs.forEach(function(img){ %>
<div class="column one column_image">
  <div class="image_frame no_link scale-with-grid has_border aligncenter">
    <div class="image_wrapper"><img class="scale-with-grid" src="<%= img.src %>" alt="<%= img.alt %>">
    </div>
  </div>
</div>

<div class="column one column_divider">
  <hr class="no_line" />
</div>
<% }) %>