<div class="margin-top-50">
  <!-- One Third (1/3) Column -->
  <div class="column one-second column_column">
    <div class="column_attr ">
      <p>
        <%= project.info %>
      </p>
    </div>
  </div>
  <!-- One Third (1/3) Column -->
  <div class="column one-second column_column">
    <div class="column_attr ">
      <h5 class="flv_margin_b_5">Project type:</h5>
      <p>
        <i class="icon-window"></i>
        <%= project.type %>
      </p>
      <h5 class="flv_margin_b_5">Client:</h5>
      <p>
        <i class="icon-vcard"></i>
        <%= project.client %>
      </p>
      <h5 class="flv_margin_b_5">Duration:</h5>
      <p>
        <i class="icon-back-in-time"></i>
        <%= project.duration %>
      </p>
    </div>
  </div>
</div>
