<div class="section section-portfolio-header">
  <div class="section_wrapper clearfix">
    <div class="column one post-nav font-size-16">
      <a class="list-nav" href="/projects"><i class="icon-layout"></i>Show all projects</a>
    </div>
    <!-- Post Header-->
    <!-- One full width row-->
    <div class="column one post-header">
      <div class="button-love">
        <a href="" class="mfn-love disabled-link" data-id="2189"><span class="icons-wrapper"><i class="icon-cog-line"></i><i class="icon-cog-line"></i></span></a>
      </div>
      <div class="title_wrapper">
        <h1 class="entry-title">
          <%= project.name  %>
        </h1>
        <div class="post-meta clearfix">
          <div class="author-date">
            <span class="author"><i class="icon-location-line"></i> <%= project.address %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
