<!-- One full width row-->
<div class="column one column_column">
  <div class="column_attr ">
    <!-- Image Gallery-->
    <div id='gallery-2' class='gallery galleryid-2189 gallery-columns-3 gallery-size-thumbnail '>
      <% project.imgs.forEach(function(img){ %>
        <!-- Gallery item -->
        <dl class="gallery-item">
          <dt class="gallery-icon landscape">
            <a href="<%= img.large.src %>"><img width="300" height="300" src="<%= img.small.src %>" class="attachment-thumbnail" alt="home_design_single_1" /></a>
        </dt>
          <dd></dd>
        </dl>
        <% }) %>
    </div>
  </div>
</div>
