<div class="margin-top-50">
  <div class="column one-second column_column">
    <div class="column_attr ">
      <p>
        <%= project.info %>
      </p>
    </div>
  </div>
  <div class="column one-second column_column">
    <div class="column_attr ">
      <div class="column one-third column_column">
        <h5 class="flv_margin_b_5">Project type:</h5>
        <p>
          <i class="icon-window"></i>
          <%= project.type %>
        </p>
      </div>
      <div class="column one-third column_column">
        <h5 class="flv_margin_b_5">Client:</h5>
        <p>
          <i class="icon-vcard"></i>
          <%= project.client %>
        </p>
      </div>
      <div class="column one-third column_column">
        <h5 class="flv_margin_b_5">Duration:</h5>
        <p>
          <i class="icon-back-in-time"></i>
          <%= project.duration %>
        </p>
      </div>
    </div>
  </div>
</div>